.page-container{
    background-color: #2f2fa2;
    width: 100vw;
    height: 150vh;
  
  }
  
  .resume-container{
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    width: 85vw;
    height: 95%;
    margin: auto;
    padding: 5em 2em 5em 2em;
  
  }
  
  .sidebar{
    width: 30%;
  }
  
  .main-content{
    width: 70%;
  }
  
  .resumeHeader{
    font-size: 90%;
    font-weight: 700;
    width: 30%;
  }

  @media only screen and (max-width: 768px) {}

  @media only screen and (max-width: 614px) {

    br{
      display: none;
    }

    .resume-container{
      flex-direction: column;
      justify-content: start;

      width: 100%;
    }

    .sidebar{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    li{
      display: flex;
      flex-direction: row;
      width: min-content;
    }

    .others{

    }
  }