$background: #000000;
$svg-width: 60px;

article {
  max-width: 89%;
  margin: 5% auto 0;
  margin: auto;
  display: flex;
  transition: all 0.3s ease-in-out;
  border-radius: 40px;
}

article:hover {
  // transform: translateZ(0) scale(1.0);
  box-shadow: rgba(0, 0, 0, 0.53) 3px 3px 15px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(50% - 30px);
  padding: 20px 5px 20px 20px;
  background: $background;
  border-bottom-left-radius: 40px;
  border-top-left-radius: 40px; 

}

.right {
  width: calc(50% + 30px);
  background-color: #2f2fa2;
  // margin-left: -1px;
  position: relative;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  

  svg {
    height: 100%;
    position: absolute;
    // left: -1.7px;
    top: 0;
    z-index: 3;
  }
  path {
    // content='d="M0 0l40 200H0"';
    fill: $background;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
}
.image {
  // background:url(http://twin-dev.net/experiments/codevember/diagonal-homepage/img/office-day.svg) center no-repeat transparent;
  width: 100%;
  height: 100%;
  // margin-top: 1px;
  object-fit: cover;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  transform: scale(0.994);
  z-index: -1;
}

///////////////

h1 {
  font-size: 3rem;
  color: #fff;
}
p {
  font-size: 1.1rem;
  margin: 1rem 0;
  margin: auto;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 80%;
}
