* {
  font-family: Arial, Helvetica, sans-serif, monospace;
  /* background-color: #2f2fa2; */
  margin-bottom: -1px;
}
:root {
  --text: rgb(211, 211, 211);
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

Body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.509);
  /* border-radius: 10px; */
  background-color: #2f2fa2;
}

Body::-webkit-scrollbar {
  height: 0px;
  width: 12px;
  background-color: #f5f5f5;
}

Body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}

/* ----NavBar----------------------------------------------------------------------------- */

.navbar {
  background-color: #2f2fa2;
}

.navbar-nav {
  display: inline !important;
}

.navbar-nav li {
  display: inline !important;
}

/* JT ontop */
.brand:active,
.brand:link,
.brand:visited {
  display: flex;
  color: #99738e;
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
}

.brand:hover {
  color: #f64c72;
}

#navbarNav {
  width: 68%;
  display: flex;
  justify-content: flex-end;
  /* flex-direction: row !important; */
}

.navbar-nav ul{
  /* display: flex;
  flex-direction: row; */
}

.collapse{
  /* display: flex;
  flex-direction: row; */
}

.nav-item{
  width: 120px !important;
}

.hover:visited,
.hover:link,
.hover:active {
  /* color: rgb(143, 145, 124); */
  color: #99738e;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
}

.hover {
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.5s;
  transition-property: transform;
  font-family: verdana;
  font-weight: 200;
  padding-top: 3px;
  width: 110px;
  padding-right: 30px;
}

.hover:hover,
.hover:focus {
  /* transform: translateY(-2px); */
  /* animation-name: hover; */
  animation-duration: 1.5s;
  animation-delay: 0.05s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: #f64c72;
}


.hi {
  width: 110px;
  height: 40px;
  font-size: 18px;
  margin-right: 10px;
  font-family: Verdana;
  border-radius: 10px;
  border-style: none;
  background-color: #c03b58;
  color: rgb(211, 211, 211);
  transition-duration: 0.5s;
}

.hi:hover {
  background-color: #f64c72;
}

.hi:hover span {
  display: none;
}
.hi:hover:before {
  content: "🤟🏻 😁";
}

.hi span{
  min-width: 77.05px;
}

/* ----landing page---------------------------------------------------------------------------------*/

.text {
  width: 100vw;
  font-family: verdana;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  color: #f64c72;
  text-shadow: 1px 1px 1px #8f4353, 1px 2px 1px #8f4353, 1px 3px 1px #8f4353,
    1px 4px 1px #8f4353, 1px 5px 1px #8f4353, 1px 6px 1px #8f4353,
    1px 7px 1px #8f4353, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

#first {
  font-family: Verdana;
  font-weight: 700;
  color: rgb(211, 211, 211);
  text-shadow: 1px 1px 1px rgb(134, 134, 134), 1px 2px 1px rgb(134, 134, 134),
    1px 3px 1px rgb(134, 134, 134), 1px 4px 1px rgb(134, 134, 134),
    1px 5px 1px rgb(134, 134, 134), 1px 6px 1px rgb(134, 134, 134),
    1px 7px 1px rgb(134, 134, 134), 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 25px 35px rgba(16, 16, 16, 0.2), 1px 30px 60px rgba(16, 16, 16, 0.4);
}

.text2 {
  width: 100vw;
  font-family: verdana;
  font-size: 3em;
  text-align: center;
  font-weight: 700;
  color: #f64c72;
  text-shadow: 1px 1px 1px #8f4353, 1px 2px 1px #8f4353, 1px 3px 1px #8f4353,
    1px 4px 1px #8f4353, 1px 5px 1px #8f4353, 1px 6px 1px #8f4353,
    1px 7px 1px #8f4353, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

.parallax {
  background-color: #2f2fa2;
  width: 100;
  min-height: 95vh;
  background-attachment: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.welcome-container {
  display: flex;
  position: absolute;
  height: 200px;
  width: 100%;
  top: 40vh;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.home-wrapper {
  height: 80px;
  width: 100%;
}

.scroll-downs {
  position: fixed;
  top: 87vh;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  width: 34px;
  height: 55px;
}

/* ----About me----------------------------------------------------------------------------------------*/

.about-section {
  background-color: #2f2fa2;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 22em;
  border-bottom: 0px;
}

.about {
  width: 60%;
  background-color: #2f2fa2;
}

.about-title {
  text-align: center;
  background: #2f2fa2;
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  color: rgb(211, 211, 211);
}

#myPic {
  border-radius: 100em;
  min-width: 100px;
  min-height: 100px;
  max-width: 12%;
}

#about-me {
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 60%;
  text-align: left;
  line-height: 22px;
  color: rgb(211, 211, 211);
  flex-wrap: wrap;
  font-size: 18px;
}

#grabber {
  font-weight: 600;
  color: rgb(211, 211, 211);
  font-size: 25px;
  min-width: 90%;
}

.highlight {
  color: #f64c72;
}

/* --------------- Projects-------------------------------------------------------------- */

.recent-title {
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 700;
  color: rgb(211, 211, 211);
  background: #2f2fa2;
  padding-bottom: 25px;
}

.recent-bio {
  text-align: center;
  background: #2f2fa2;
  color: rgb(211, 211, 211);
  font-size: 20px;
  padding-bottom: 40px;
}

.recent-bio a {
  color: #f64c72;
  text-decoration: none;
}

.recent-bio a:hover {
  color: #f64c72;
}

.projects-container {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 24px 10px;
  background: #2f2fa2;
  padding-left: 8.4%;
  padding-right: 8.4%;
  padding-bottom: 30%;
}

.projects-container img {
  height: min-content;
  width: 100%;
  border-radius: 25px;
  border: 5px solid rgb(31, 31, 31);
}

.btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 32%;
  height: min-content;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
}

.btn-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.7);
}

.title {
  position: absolute;
  width: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 60%;
  font-weight: bold;
  font-size: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.4s ease;
}

.btn-container:hover .title {
  top: 30%;
  opacity: 1;
}

.proj-bio {
  position: absolute;
  width: 385px;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 70%;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.6s ease, opacity 0.4s ease;
}

.btn-container:hover .proj-bio {
  opacity: 1;
  top: 53%;
}

.btn-container a {
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 78%;
}

a .button {
  /* display: none; */
  font-size: 16px;
  width: 135px;
  height: 50px;
  background: rgba(31, 31, 31, 0.536);
  color: white;
  font-weight: 700;
  background: none;
  border: 2px solid #f64c72;
  border-radius: 30px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.4s ease, background 0.4s ease;
}

a a:hover,
.button {
  color: white;
  text-decoration: none;
}

.btn-container:hover .button {
  opacity: 1;
}

.button:hover {
  background: #f64c72;
}

/* .projects-container{
  display: flex;
  width: 32%;
  height: min-content;
} */

/* -----------------------------------------CONTACT PAGE-------------------------------------------------------------- */

.color {
  /* padding-top: 20%; */
  height: 100%;
  overflow: hidden;
  background-color: #2f2fa2;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2f2fa2;
  width: 48%;
  margin: auto;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  color: rgb(211, 211, 211);
}

.contact-container input {
  font-size: 20px;
  font-weight: 300;
  width: 49.5%;
  margin-bottom:8px;
  padding: 6px;
  height: 40px;
  /* padding-right: 6px; */
  border-radius: 8px;
  border: 2px solid rgb(134, 134, 134);
  
}

.row{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  --bs-gutter-x: 0 !important;
}

#choices {
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  padding: 6px;
  margin: auto;
  margin-bottom: 8px;
  border-radius: 8px;
  border: 2px solid rgb(134, 134, 134);
}

.contact-container textarea{
  font-size: 20px;
  font-weight: 300;
  width: 100%;
  padding: 6px;
  margin: auto;
  border-radius: 8px;
  border: 2px solid rgb(134, 134, 134);
}

.scroll {
  text-align: center;
  background-color: #2f2fa2;
  font-size: 50px;
  font-weight: 700;
}

#submit{
  width: 30%;
  margin: auto;
  padding: auto;
  height: min-content;
}

/* -------------FOOTER---------------- */

.wrapper{
  background-color: #2f2fa2;
  height: 13vh;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: block;
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 10px;
  margin-top: 10px;
}

.wrapper ul{
  display: flex;
  justify-content: center;
  background-color: #2f2fa2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.social-icons .fa {
	font-size: 1.8em;
}
/* circle size */
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}
 

.social-icons .fa-dribbble{background-color:#F46899;}  
.social-icons .fa-github,.social-icons{background-color:#070709;} 
.social-icons .fa-linkedin,.social-icons{background-color:#0085AE;} 

.copyright{
  text-align: center;
  color:rgb(211, 211, 211);
  padding-top: 10px;
  font-family: Verdana;
  background-color: #2f2fa2;
  
}


/* -----------------------RESUME PAGE------------------------------------- */




/* --------------------Media Queries--------------------------------- */

@media only screen and (max-width: 768px) {
  a {
    padding: 10px;
  }

  a .hover {
    /* padding-left: 10px; */
    /* padding-right: 10px !important; */
    width: 110px;
  }

  .about-section {
    padding-bottom: 60%;
  }

  .projects-container {
    padding-bottom: 30%;
  }

  .title {
    display: none;
  }

  .proj-bio {
    display: none;
  }

  a .button {
    display: none;
  }

  .overlay {
    display: none;
  }

  .recent-bio {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-section {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  #myPic {
    margin: 30px;
    border-radius: 50em;
  }

  #grabber {
    width: 90%;
    text-align: center;
    margin: auto;
  }


  #submit{
    width: 40%;
    padding: auto;
    height: min-content;
  }
}

@media only screen and (max-width: 614px) {
  
  .welcome-container{
    top: 30vh;
    /* overflow-x: hidden; */
  }
  
  .text {
    display: inline;
  }


  .collapse{
    display: flex;
    flex-direction: row !important;
  }

  .hi{
    white-space: nowrap;
  }

  .btn-container{
    width: 47%;
  }

  .title{
    width: 20%;
  }

  .projects-container{
    padding-bottom: 30%;
  }

  .contact-container{
    width: 80%;
  }

  .color{
    height: 90%;
  }

  .row{
    margin: 0 !important;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .row input{
    width: 100%;
  }

  #submit{
    width: 100%;
    padding: auto;
    height: min-content;
  }
}
