* {
  font-family: Arial, Helvetica, sans-serif, monospace;
  /* background-color: #2f2fa2; */
  margin-bottom: -1px;
}
:root {
  --text: rgb(211, 211, 211);
  --font-size-m: 50%;
  --font-family-roboto: "Roboto";
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

Body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.509);
  /* border-radius: 10px; */
  background-color: #2f2fa2;
}

Body::-webkit-scrollbar {
  height: 0px;
  width: 12px;
  background-color: #f5f5f5;
}

Body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}

/* ----NavBar----------------------------------------------------------------------------- */

.nav {
  display: flex;
  flex-direction: column;
  background-color: #2f2fa2;
  position: fixed;
  column-gap: 10px;
  bottom: 10px;
  left: 20px;
}

/* nav ul {
  list-style: none;
  display: flex;
  color: white;
  column-gap: 10px;
} */

/* .list-unstyled {
  padding-left: 0;
  list-style: none;
  display: block;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 3vw;
}

.list-unstyled div {
  padding-bottom: 10px;
  color: #f5f5f5;
} */

/* .Twitter {
  color: rgb(28, 133, 235);
}
.Git {
  color: #090909;
}
.Linkedin {
  color: #0085ae;
} */

/* ----landing page---------------------------------------------------------------------------------*/

.landing{
  background-color: #2f2fa2;
}

.hero{
  margin-top: 34px;
  width: 99vw;
  height: 100%;
  padding-bottom: 10%;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10); }
}
.bounce {
  position: absolute;
  left: 49%;
  top: 94%;
  animation: bounce 1.5s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

/* ----About me----------------------------------------------------------------------------------------*/

.about-section {
  background-color: #2f2fa2;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 9vh;
  border-bottom: 0px;
}

.about {
  width: 60%;
  background-color: #2f2fa2;
}

.about-title {
  text-align: center;
  background: #2f2fa2;
  font-size: 3em;
  font-family: Verdana;
  font-weight: 600;
  color: rgb(211, 211, 211);
}

#myPic {
  border-radius: 100em;
  min-width: 100px;
  min-height: 100px;
  max-width: 12%;
}

#about-me {
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 60%;
  text-align: left;
  line-height: 22px;
  color: rgb(211, 211, 211);
  flex-wrap: wrap;
  font-size: 18px;
}

#grabber {
  font-weight: 600;
  color: rgb(211, 211, 211);
  font-size: 25px;
  min-width: 90%;
}

.highlight {
  color: #f64c72;
}
/* -------------------Skills-------------------------------------------------------------- */
.skills-section {
  background-color: #2f2fa2;
  height: 30vh;
}

.skills-container {
  padding-top: 30px;
  width: 80vw;
  height: 2vh;
  margin: auto;
  background-color: #2f2fa2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7%;
}

.html5,
.css3,
.js,
.react,
.git,
.sass,
.bootstrap {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.html5:hover,
.css3:hover,
.js:hover,
.react:hover,
.git:hover,
.sass:hover,
.bootstrap:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.html5 {
  color: rgb(205 51 28);
}
.html5:hover {
}
.css3 {
  color: rgb(20 87 157);
}
.js {
  color: rgb(221 200 59);
}
.bootstrap {
  color: rgb(79 41 123);
}
.git {
  color: rgb(0 0 0);
}
.react {
  color: rgb(78 196 234);
}
.sass {
  color: rgb(179 75 127);
}

/* --------------- Projects-------------------------------------------------------------- */

.recent-title {
  text-align: center;
  font-family: Verdana;
  font-size: 30px;
  font-weight: 700;
  color: rgb(211, 211, 211);
  background: #2f2fa2;
  padding-bottom: 25px;
}

.recent-bio {
  text-align: center;
  background: #2f2fa2;
  color: rgb(211, 211, 211);
  font-size: 20px;
  padding-bottom: 40px;
}

.recent-bio a {
  color: #f64c72;
  text-decoration: none;
}

.recent-bio a:hover {
  color: #f64c72;
}

.projects-container {
  display: flex;
  justify-content: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: 24px 10px;
  background: #2f2fa2;
  padding-left: 8.4%;
  padding-right: 8.4%;
  padding-bottom: 10%;
}

.projects-container img {
  height: min-content;
  width: 100%;
  border-radius: 25px;
  border: 5px solid rgb(31, 31, 31);
}

.btn-container {
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 32%;
  height: min-content;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
}

.btn-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.hover-elements {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.title {
  width: 100%;
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.4s ease;
}

.btn-container:hover .title {
  top: 30%;
  opacity: 1;
}

.proj-bio {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  /* text-transform: uppercase; */
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.6s ease, opacity 0.4s ease;
}

.btn-container:hover .proj-bio {
  opacity: 1;
  top: 53%;
}

.btn-container a {
  /* position: absolute; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 78%; */
  z-index: 1;
  align-items: center;
}

.button {
  /* display: none; */
  font-size: 16px;
  width: 135px;
  height: 50px;
  background: rgba(31, 31, 31, 0.536);
  color: white;
  font-weight: 700;
  background: none;
  border: 2px solid #f64c72;
  border-radius: 30px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.4s ease, background 0.4s ease;
}

a a:hover,
.button {
  color: white;
  text-decoration: none;
}

.btn-container:hover .button {
  opacity: 1;
}

.button:hover {
  background: #f64c72;
}

/* .projects-container{
  display: flex;
  width: 32%;
  height: min-content;
} */

/* -----------------------------------------CONTACT PAGE-------------------------------------------------------------- */

.color {
  /* padding-top: 20%; */
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

  height: 50vh;
  overflow: hidden;
  background-color: #2f2fa2;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30em;
  height: min-content;
  min-width: 228px;
  background: rgb(143, 143, 143);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px 8px;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  color: #e9e9e9;
}

.contactFormTitle {
  color: #e9e9e9;
  font-weight: 700;
  text-transform: uppercase;
}

.MuiTextField-root {
  width: 85%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.MuiButton-root {
  width: 27ch;
  padding: 20px;
}

/* -------------FOOTER---------------- */

.copyright {
  text-align: center;
  color: rgb(211, 211, 211);
  padding-top: 10px;
  font-family: Verdana;
  background-color: #2f2fa2;
}

/* --------------------Media Queries--------------------------------- */

@media only screen and (max-width: 768px) {
  a {
    padding: 10px;
  }

  a .hover {
    /* padding-left: 10px; */
    /* padding-right: 10px !important; */
    width: 110px;
  }

  .about-section {
    padding-bottom: 60%;
  }

  .projects-container {
    padding-bottom: 30%;
  }

  .recent-bio {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-section {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  #myPic {
    margin: 30px;
    border-radius: 50em;
  }

  #grabber {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  #submit {
    width: 40%;
    padding: auto;
    height: min-content;
  }
}

@media only screen and (max-width: 614px) {
  .brand:active,
  .brand:link,
  .brand:visited {
    position: absolute;
    top: 0;
  }

  .welcome-container {
    top: 20vh;
    align-items: center;
    justify-content: center;
  }

  .text {
    display: inline;
  }

  .mobile-title {
    display: flex;
    flex-direction: row;
    padding-top: 20%;
    font-size: 23px !important;
    color: rgb(211, 211, 211) !important;
    text-shadow: 1px 1px 1px #838383, 1px 2px 1px #838383,
      1px 10px 6px rgba(16, 16, 16, 0.4), 1px 16px 20px rgba(16, 16, 16, 0.2),
      1px 30px 60px rgba(16, 16, 16, 0.4);
  }

  .mobile-title {
    display: block;
    width: 94vw;
    font-size: 2em;
    height: min-content;
    margin: auto;
    color: rgb(211, 211, 211);
    font-family: Verdana;
  }

  .collapse {
    display: flex;
    flex-direction: row !important;
  }

  .hi {
    white-space: nowrap;
  }

  .title {
    width: 100%;
    font-size: 8vw;
    opacity: 1;
  }

  .proj-bio {
    display: none;
  }

  .projects-container {
    padding-bottom: 30%;
    flex-direction: column;
  }

  .btn-container {
    width: 100%;
    height: 35;
  }

  .btn-container .projects-container img {
    height: 40vh;
  }

  .hover-elements {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
  }

  .overlay {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    height: 0vh !important;
  }

  .btn-container:hover .overlay {
    background: rgba(0, 0, 0, 0.4) !important;
  }

  .button {
    opacity: 1;
    background: #f64c72;
    font-weight: bold;
  }

  .contact-container {
    width: 80%;
  }

  .color {
    height: 90%;
  }

  .row {
    margin: 0 !important;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .row input {
    width: 100%;
  }

  #submit {
    width: 100%;
    padding: auto;
    height: min-content;
    background-color: #f64c72;
  }

  .wrapper {
    display: none;
  }
}
