* {
  font-family: Roboto;
  
  /* background-color: #2f2fa2; */
  margin-bottom: -1px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
  --text: rgb(211, 211, 211);
  --font-size-m: 50%;
  --font-family-roboto: "Roboto";
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}

Body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.509);
  /* border-radius: 10px; */
  background-color: #2f2fa2;
}

Body::-webkit-scrollbar {
  height: 0px;
  width: 12px;
  background-color: #f5f5f5;
}

Body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #bfbfbf;
}

/* ----NavBar----------------------------------------------------------------------------- */

.nav {
  display: flex;
  flex-direction: column;
  background-color: #2f2fa2;
  position: fixed;
  column-gap: 10px;
  bottom: 10px;
  left: 20px;
}

/* ----landing page---------------------------------------------------------------------------------*/

.landing{
  background-color: #2f2fa2;
}

.hero{
  margin-top: 34px;
  width: 99vw;
  height: 100%;
  padding-bottom: 10%;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10); }
}
.bounce {
  position: absolute;
  left: 49%;
  top: 94%;
  animation: bounce 1.5s;
  /* animation-direction: alternate; */
  animation-iteration-count: infinite;
}

/* ----About me----------------------------------------------------------------------------------------*/

.about-section {
  background-color: #2f2fa2;
  display: flex;
  width: 100%;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  padding-top: 40px;
  padding-bottom: 9vh;
  border-bottom: 0px;
}

.about {
  display: flex;
  width: 90%;
  background: black;
}

.about-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke: #f64c72;
  text-align: center;
  background: #2f2fa2;
  font-size: 3em;
  font-family: var(--font-family-roboto);
  font-weight: 600;
}

#myPic {
  border-radius: 100em;
  min-width: 100px;
  min-height: 100px;
  max-width: 12%;
}

#about-me {
  display: flex;
  justify-content: flex-start;
  max-width: 80%;
  max-height: 60%;
  text-align: left;
  line-height: 22px;
  color: rgb(211, 211, 211);
  flex-wrap: wrap;
  font-size: 18px;
}

#grabber {
  font-weight: 600;
  color: rgb(211, 211, 211);
  font-size: 20px;
  /* min-width: 90%; */
}

.highlight {
  color: #f64c72;
}
/* -------------------Skills-------------------------------------------------------------- */
.skills-section {
  background-color: #2f2fa2;
  height: 30vh;
}

.skills-title{
  font-family: var(--font-family-roboto);
  font-weight: 600;
  text-align: center;
  font-size: 3em;
}

.skills-container {
  padding-top: 30px;
  width: 90vw;
  height: min-content;
  margin: auto;
  background-color: #2f2fa2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7%;
}

.html5,
.css3,
.js,
.react,
.git,
.sass,
.bootstrap,
.figma  {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.html5:hover,
.css3:hover,
.js:hover,
.react:hover,
.git:hover,
.sass:hover,
.bootstrap:hover,
.figma:hover {
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
  transform: scale(1.1) rotate(360deg);
}

.html5 {
  color: rgb(205 51 28);
}
.css3 {
  color: rgb(20 87 157);
}
.js {
  color: rgb(221 200 59);
}
.bootstrap {
  color: rgb(79 41 123);
}
.git {
  color: rgb(0 0 0);
}
.react {
  color: rgb(78 196 234);
}
.sass {
  color: rgb(179 75 127);
}

/* --------------- Projects-------------------------------------------------------------- */

.projects {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #2f2fa2;
}

.projects-title {
  /* text-align: center; */
  font-family: var(--font-family-roboto);
  font-size: 30px;
  font-weight: 700;
  color: rgb(211, 211, 211);
  background: #2f2fa2;
  /* padding-bottom: 25px; */
}

.projects-container {
  display: flex;
  justify-content: space;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  background: #2f2fa2;
}

.projects-container img {
  height: min-content;
  width: 100%;
  border-radius: 25px;
  border: 5px solid rgb(31, 31, 31);
}

.btn-container {
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 32%;
  height: min-content;
}

.mobile {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.4s ease;
}

.btn-container:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.8);
}

.hover-elements {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.title {
  width: 100%;
  font-weight: bold;
  font-size: 2.5vw;
  text-align: center;
  text-transform: uppercase;
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.4s ease;
}

.btn-container:hover .title {
  top: 30%;
  opacity: 1;
}

.proj-bio {
  width: 100%;
  font-size: 1vw;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  /* text-transform: uppercase; */
  color: #f5f5f5;
  z-index: 1;
  opacity: 0;
  transition: top 0.6s ease, opacity 0.4s ease;
}

.btn-container:hover .proj-bio {
  opacity: 1;
  top: 53%;
}

.btn-container a {
  /* position: absolute; */
  /* left: 50%; */
  /* -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 78%; */
  z-index: 1;
  align-items: center;
}

.button {
  /* display: none; */
  font-size: 16px;
  width: 135px;
  height: 50px;
  background: rgba(31, 31, 31, 0.536);
  color: white;
  font-weight: 700;
  background: none;
  border: 2px solid #f64c72;
  border-radius: 30px;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.4s ease, background 0.4s ease;
}

a a:hover,
.button {
  color: white;
  text-decoration: none;
}

.btn-container:hover .button {
  opacity: 1;
}

.button:hover {
  background: #f64c72;
}

/* .projects-container{
  display: flex;
  width: 32%;
  height: min-content;
} */

/* -----------------------------------------CONTACT PAGE-------------------------------------------------------------- */

.color {
  /* padding-top: 20%; */
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  height: 60vh;
  overflow: hidden;
  background-color: #2f2fa2;
}

.contact-desc{

}

.contact-desc h3 {
  text-align: center;
  color: white
}

#email{
  padding-top: 20px;
  margin-bottom: 0;
  color: white;
}

.contact-desc p {
  text-align: center;
  color: #f64c72;
  margin-bottom: 0;
}

.follow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 30em;
  height: min-content;
  min-width: 228px;
  background: black;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
  padding: 20px;
  padding-top: 55px;
}

h1 {
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

.contactFormTitle {
  color: #e9e9e9;
  font-weight: 700;
  text-transform: uppercase;
}

.MuiTextField-root {
  color: white !important;
  width: 85%;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: white !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root {
  color: white !important;
}

.css-1480iag-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white !important;
}

.css-5xn5lu-MuiInputBase-root-MuiInput-root:after {
  border-bottom: 2px solid white !important;
}

#contact-text label{
  color: white;
  background: white;

}

.MuiButton-root {
  width: 27ch;
  padding: 20px;
}

/* -------------FOOTER---------------- */

.copyright {
  text-align: center;
  color: rgb(211, 211, 211);
  padding-top: 10px;
  font-family: Verdana;
  background-color: #2f2fa2;
}

/* --------------------Media Queries--------------------------------- */

@media only screen and (max-width: 768px) {
  a {
    padding: 10px;
  }

  .bounce{
    display: none;
  }

  a .hover {
    /* padding-left: 10px; */
    /* padding-right: 10px !important; */
    width: 110px;
  }

  .about-section {
    padding-bottom: 10%;
  }

  .recent-bio {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-section {
    flex-direction: column;
  }

  .about-section .about-title{
    font-size: 29vw;
    position: inherit;
    margin-bottom: -4vh;
    top: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f64c72;
  }

  .about {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-content: center;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
  
  #myPic {
    margin: 30px;
    border-radius: 50em;
  }

  #grabber {
    width: 90%;
    text-align: center;
    margin-top: 19px;
  }

  .skills-section{
    height: 60vh;
  }

  .skills-title{
    font-size: 29vw;
    position: inherit;
    margin-bottom: -4vh;
    top: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f64c72;
  }

  .html5, .css3, .js, .bootstrap, .git, .react, .sass, .figma {
    color: black;
  }

  .projects{
 
  }

  .recent-title{
    font-size: 29vw;
    position: inherit;
    /* transform: rotate(90deg);  */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f64c72;
  }

  

  #submit {
    width: 40%;
    padding: auto;
    height: min-content;
  }
}

@media only screen and (max-width: 614px) {
  .brand:active,
  .brand:link,
  .brand:visited {
    position: absolute;
    top: 0;
  }

  .welcome-container {
    top: 20vh;
    align-items: center;
    justify-content: center;
  }

  .text {
    display: inline;
  }

  .collapse {
    display: flex;
    flex-direction: row !important;
  }

  .hi {
    white-space: nowrap;
  }

  .title {
    width: 100%;
    font-size: 8vw;
    opacity: 1;
  }

  .skills-section{
    height: min-content;
  }

  .skills-title{
    font-size: 29vw;
    position: inherit;
    margin-bottom: -4vh;
    top: 25px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f64c72;
  }

  .html5, .css3, .js, .bootstrap, .git, .react, .sass, .figma {
    color: black;
  }

  .projects{
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-bottom: 60px;
    padding-top: 40px;
    padding-left: 10px;
  }

  .projects-title{
    margin: auto;
    width: 30%;
    height: min-content;
    writing-mode: vertical-rl;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f64c72;
  }

  .projects-container {
    /* padding-bottom: 30%; */
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
  }

  .btn-container {
    display: none;
    width: 100%;
  }

  .mobile {
    display: block;
  }

  .contact-container {
    width: 80%;
    height: 45vh;
  }

  .color {
    height: 90%;
  }

  .row {
    margin: 0 !important;
    justify-content: center;
    flex-direction: column-reverse;
    width: 100%;
  }

  .row input {
    width: 100%;
  }

  #submit {
    width: 100%;
    padding: auto;
    height: min-content;
    background-color: #f64c72;
  }

  .wrapper {
    display: none;
  }
}
